body {
	padding-top: 60px;
}

.form-inline > .form-group {
    vertical-align: top;
}

#timelog-table th { white-space: nowrap; cursor: pointer; }
#timelog-table th span { display: inline-block; margin-left: 5px; }

#timelog-table .edit,
#timelog-table .delete {
	display: none;
}

#datetime {
	display: none;
}

.analytics-filter {
	list-style: none;
	padding: 0;
}
.analytics-filter li {
	display: inline-block;
	padding: 0 10px 0 5px;
}
.analytics-filter li.separator {
	border-right: 2px solid #333;
}
.analytics-filter li a.active {
	color: #333;
}