body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#timelog-table th { white-space: nowrap; cursor: pointer; }
#timelog-table th span { display: inline-block; margin-left: 5px; }