body {
	padding-top: 60px;
}

.form-inline > .form-group {
    vertical-align: top;
}

#timelog-table th { white-space: nowrap; cursor: pointer; }
#timelog-table th span { display: inline-block; margin-left: 5px; }

#timelog-table .edit,
#timelog-table .delete {
	display: none;
}

#datetime {
	display: none;
}
